*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(11, 11, 26);
}
.box{
    max-width: 350px;
    text-align: center;
    background-color: azure;
    padding: 30px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 18vh;

}
.box img{
    max-width: 200px;
    object-fit: contain;
}
.box h1{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 1rem;
}
.main-btn{
    text-decoration: none;
    color: white;
    background-color: #161616;
    border: 2px solid yellow;
    padding: 10px 20px;
    border-radius: 10px;
}
.social-btn{
    background-color: #1616167e;
    margin-top: 50px;
    padding: 20px 0;
    border-radius: 10px;
}
.social-btn a {
    text-decoration: none;
    background-color: #161616;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
}
.social-btn h2{
    color: rgb(44, 34, 34);
    padding-bottom: 20px;
    font-size: 1.3rem;
}
