*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(11, 11, 26);
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    text-align: center;
    background-color: azure;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 15%;
}
.box img{
    max-width: 200px;
    object-fit: contain;
}
.box h1{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 1rem;
}
.box a{
    text-decoration: none;
    color: white;
    background-color: #161616;
    border: 2px solid yellow;
    padding: 10px 20px;
    border-radius: 10px;
}
